<h1>This is the home page</h1>

<%= link_to image_tag('WB002.png'), 'https://www.whitebunny.net' %>
<%= link_to 'Alpha Blog', articles_path %> | <%= link_to "About", about_path %>
<%= link_to 'Extrapage', pages_extrapage_path %>
<br><br>
